:root{

}

/****
Page Setup
****/
body, html{
  all:unset;
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:18px;
}

body{

}
